DISCORD_BOT_TOKEN="..."
DISCORD_APP_ID="..."

NODE_ENV="development" # or production
DISCORD_GUILD_ID="..." # Only for development

# Halving announcements
HALVING_ANNOUNCEMENT_INTERVAL="10"

# Postgres
POSTGRES_DB="..."
POSTGRES_USER="..."
POSTGRES_PASSWORD="..."
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"